/* COLORS */
.bg-black {background: #161616!important;}
.bg-red {background: #e50914!important;}
.bg-white {background: #ffffff!important;}
.white {color: #ffffff!important;}
.grey {color: #aaaaaa!important;}
.black {color: #222222!important;}
.green {color: rgb(16, 195, 0);}

/* FONT */
h2 {
    font-size: 1.6rem;
    font-weight: 700;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

p, a {
    font-size: 0.7rem;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 0px;
}

a:hover {
    opacity: 0.7;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bold {
    font-weight: 700;
}

.small {
    font-size: 0.4em;
}

.bordered {
    border: 1.6px solid;
    padding: 1px 3px;
}

/* ANIMATION */
.slide-left {
    transform: translateX(-180px);
    transition: 0.5s ease-in-out;
}

.slide-right {
    transform: translateX(0);
    transition: 0.5s ease-in-out;
}

.animation-scroll {
    opacity: 0;
    transform: translateY(50);
    transition: 0.5s ease;
}

.animation-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

/* NAVBAR */
header {
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0px;
    z-index: 2;
}

.left-menu a, .right-menu a {
    text-decoration: none;
    font-size: 0.7rem;
    line-height: 0;
}

.right-menu ion-icon {
    font-size: 1rem;
}

#burgher-menu {
    font-size: 1.5rem;
    pointer-events: cursor;
    cursor: pointer;
}

/* NAVBAR MOBILE */
#slide-menu {
    width: 200px;
    height: 100dvh;
    position: fixed;
    top: 0;
    right: -20px;
    z-index: -1;
    padding: 70px 0px 70px 20px;
}

#slide-menu a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
}

/* MAIN */
main {
    overflow: hidden;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
}

#hero-section {
    height: 50dvh;
    /*background-image: url("../assets/hero-img2.jpg");*/
    background: url("../assets/hero-video.mp4");
    background-size: cover;
    background-position: center center;
    pointer-events: none;
}

#hero-section button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}

#hero-section button ion-icon {
    font-size: 1.5rem;
}

#filter-section button {
    padding: 5px 10px;
    border: 1px solid #ffffff;
    background: transparent;
}

#filter-section button:hover {
    background: #ffffff;
    border: 1px solid #222222;
    color: #222222;
}

.swiper {
    overflow: visible;
}

.swiper-button-lock {
    display: inherit;
}

.film-card {
    position: relative;
    z-index: 5;
}

.film-card-details {
    position: absolute;
    top: -50%;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease-in-out 0.5s;
    opacity: 0;
    z-index: 5;
}

.film-card:hover .film-card-details {
    opacity: 1;
    transform: scale(1.1);
}

iframe {
    margin-top: -5px;
}

.film-card-details .bottom {
    margin-top: -15px;
    background: #000000;
}

.icons a ion-icon {
    font-size: 2rem;
}

.card-container {
    overflow-x: clip;
}

.card-container::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 80%;
    width: 20%;
    background: linear-gradient(to right, #16161600, #161616  90%);
    z-index: 1;
    pointer-events: none;
}

.slide-controls {
    position: absolute;
    top: -40px;
    right: 0;
}

.swiper-button-prev {
    left: inherit;
    right: 50px;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 1.4rem;
}

.swiper-slide {
    width: 250px!important;
}

.social ion-icon {
    font-size: 1.2rem;
}

/* FOOTER */
footer {
    background: #000000;
}

footer button {
    font-size: 0.7rem;
    width: max-content;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    background: transparent;
}

footer button:hover {
    background: #ffffff;
    border: 1px solid #222222;
    color: #222222;
}

/* MEDIA QUERIES */
@media (max-width: 768px) { 
    .card-container::after {
        width: 40%;
    }
    .film-card:hover .film-card-details {
        transform: scale(1.05);
    }
}

@media (min-width: 1400px) { 
    #hero-section {
        height: 65dvh;
    }
}